.header{ 
    min-height: 21rem;
}
.navbar {
    background-color: #f5f5f5 !important;
    i {
        margin-right: 7px;
    }
    .navbar-item {
        color: black;
        &:focus,
        &.is-active{
            background-color:#d8d7d7;
            color:black;
        }
    }
    .navbar-item:hover {
        background-color: #d8d7d7 !important;
    }    
}

.logo-png {
    width: 6rem;
    max-height: 2rem !important;
}
