.navbar {
    background-color: #232f3e !important;
    i {
        margin-right: 7px;
    }
    .navbar-item {
        color: white;
        &:focus,
        &.is-active{
            background-color:#232f3e;
            color:white;
        }
    }
    .navbar-item:hover {
        background-color: #18212b !important;
    }    
}

.logo-png {
    width: 6rem;
    max-height: 2rem !important;
}
